@import org.iatoki.judgels.uriel.forms.ContestSupervisorUpdateForm
@(contestId: Long, contestSupervisorId: Long, form: Form[ContestSupervisorUpdateForm])

@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.uriel.views.html.contest.supervisorjs

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(form)

@b3.form(routes.ContestSupervisorController.postUpdateSupervisor(contestId, contestSupervisorId)) {

    @helper.CSRF.formField

    <div class="form-group" id="">
        <label class="control-label col-md-2">@Messages.get("supervisor.permissions")</label>
        <div class="col-md-10">
            <div class="multi-checkbox-list">
                <div class="checkbox-wrap">
                    <div class="checkbox">
                        <label for="announcement">
                            <input type="checkbox" id="announcement" name="announcement" @if(form.get.announcement) {checked}">
                            @Messages.get("supervisor.announcement")
                        </label>
                    </div>
                </div>
                <div class="checkbox-wrap">
                    <div class="checkbox">
                        <label for="problem">
                            <input type="checkbox" id="problem" name="problem" @if(form.get.problem) {checked}>
                            @Messages.get("supervisor.problem")
                        </label>
                    </div>
                </div>
                <div class="checkbox-wrap">
                    <div class="checkbox">
                        <label for="submission">
                            <input type="checkbox" id="submission" name="submission" @if(form.get.submission) {checked}>
                            @Messages.get("supervisor.submission")
                        </label>
                    </div>
                </div>
                <div class="checkbox-wrap">
                    <div class="checkbox">
                        <label for="clarification">
                            <input type="checkbox" id="clarification" name="clarification" @if(form.get.clarification) {checked}>
                            @Messages.get("supervisor.clarification")
                        </label>
                    </div>
                </div>
                <div class="checkbox-wrap">
                    <div class="checkbox">
                        <label for="contestant">
                            <input type="checkbox" id="contestant" name="contestant" @if(form.get.contestant) {checked}>
                            @Messages.get("supervisor.contestant")
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}

@supervisorjs(contestId)