@import play.i18n.Messages
@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.FileInfo
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.uriel.forms.ContestFileUploadForm
@import org.iatoki.judgels.uriel.Contest

@(contestFileUploadForm: Form[ContestFileUploadForm], contest: Contest, fileInfos: List[FileInfo])

@implicitFieldConstructor = @{b3.horizontal.fieldConstructor("col-md-2", "col-md-10")}

<h3>@Messages.get("file.uploadNew")</h3>

@b3.form(routes.ContestFileController.postUploadFile(contest.getId), 'enctype -> "multipart/form-data") {
    @helper.CSRF.formField

    @b3.file(contestFileUploadForm("file"), '_label -> Messages.get("file.file"))

    @b3.submit('class -> "btn btn-primary") {
        @Messages.get("commons.upload")
    }
}

<hr />


<h3>@Messages.get("file.files")</h3>

<p>@Messages.get("file.howToUse")</p>

<table class="table table-striped table-condensed table-bordered">
    <thead>
        <tr>
            <th>@Messages.get("file.filename")</th>
            <th>@Messages.get("file.lastModified")</th>
            <th>@Messages.get("file.size")</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    @for(file <- fileInfos) {
        <tr>
            <td>@file.getName</td>
            <td><time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(file.getLastModifiedTime.getTime)">@JudgelsPlayUtils.formatDetailedDateTime(file.getLastModifiedTime.getTime)</time></td>
            <td>@JudgelsPlayUtils.formatBytesCount(file.getSize)</td>
            <td class="text-center"><a href="@org.iatoki.judgels.uriel.controllers.api.internal.routes.InternalContestFileAPIController.downloadFile(contest.getId, file.getName, "files")"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a></td>
        </tr>
    }
    </tbody>
</table>