@(config: org.iatoki.judgels.uriel.commons.ContestScoreState, entries: List[org.iatoki.judgels.uriel.commons.IOIScoreboardEntry], lastUpdateTime: java.util.Date, jidCacheService: org.iatoki.judgels.commons.AbstractJidCacheService[_], currentContestantJid: String)

@import org.iatoki.judgels.commons.JudgelsUtils
@import scala.collection.JavaConversions

<p><small>Last updated: @JudgelsUtils.formatDate(lastUpdateTime)</small></p>

<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th class="col-md-1">Rank</th>
            <th>Contestant</th>
            <th class="col-md-1">Total</th>
            @for(problemAlias <- config.getProblemAliases) {
                <th>@problemAlias</th>
            }
        </tr>
    </thead>
    <tbody>
    @defining(jidCacheService.getDisplayNames(JavaConversions.seqAsJavaList(config.getContestantJids.toSeq))) { displayNamesMap =>
        @for(entry <- entries) {
            <tr @if(entry.contestantJid.equals(currentContestantJid)) {
                class="warning" }>
                <td>@entry.rank</td>
                <td>@displayNamesMap.get(entry.contestantJid)</td>
                <td>@entry.totalScores</td>
                @for(score <- entry.scores) {
                    <td>@score</td>
                }
            </tr>
        }
    }
    </tbody>
</table>