@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.uriel.views.html.contest.supervisorjs
@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.uriel.forms.ContestAnnouncementUpsertForm

@(contestId: Long, contestAnnouncementId: Long, contestAnnouncementUpsertForm: Form[ContestAnnouncementUpsertForm])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(contestAnnouncementUpsertForm)

@b3.form(routes.ContestAnnouncementController.postEditAnnouncement(contestId, contestAnnouncementId)) {

    @upsertAnnouncementView(contestAnnouncementUpsertForm)

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}

@supervisorjs(contestId)