@import org.iatoki.judgels.uriel.views.html.contest.contestant.contestantjs
@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.uriel.services.impls.JidCacheServiceImpl
@import org.iatoki.judgels.uriel.ContestAnnouncement

@(contestId: Long, pageOfContestAnnouncements: Page[ContestAnnouncement], pageIndex: Long, orderBy: String, orderDir: String, filterString: String)

@for(contestAnnouncement <- pageOfContestAnnouncements.getData) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">@contestAnnouncement.getTitle</span>
            <span class="panel-title pull-right"><small>@JidCacheServiceImpl.getInstance().getDisplayName(contestAnnouncement.getAuthorJid) @@ <time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(contestAnnouncement.getLastUpdated.getTime)">@JudgelsPlayUtils.formatDetailedDateTime(contestAnnouncement.getLastUpdated.getTime)</time></small></span>
        </div>
        <div class="panel-body content-text">
            @Html(contestAnnouncement.getContent)
        </div>
    </div>
}

@contestantjs(contestId)
