@(contestId: Long, page: org.iatoki.judgels.commons.Page[org.iatoki.judgels.uriel.ContestAnnouncement], pageIndex: Long, orderBy: String, orderDir: String, filterString: String)

@import org.iatoki.judgels.uriel.services.impls.JidCacheService
@import org.iatoki.judgels.uriel.views.html.contest.contestant.contestantjs
@import org.iatoki.judgels.commons.JudgelsUtils

@for(contestAnnouncement <- page.getData) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">@contestAnnouncement.getTitle</span>
            <span class="panel-title pull-right"><small>@JidCacheService.getInstance().getDisplayName(contestAnnouncement.getAuthorJid) @@ <time class="display-time" datetime="@JudgelsUtils.formatISOUTCDateTime(contestAnnouncement.getLastUpdated.getTime)">@JudgelsUtils.formatDetailedDateTime(contestAnnouncement.getLastUpdated.getTime)</time></small></span>
        </div>
        <div class="panel-body content-text">
            @Html(contestAnnouncement.getContent)
        </div>
    </div>
}

@contestantjs(contestId)
