@(form: Form[org.iatoki.judgels.uriel.ContestAnnouncementUpsertForm])(implicit fieldConstructor: b3.B3FieldConstructor)

@import play.i18n.Messages

<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/ckeditor.js")"></script>

@helper.CSRF.formField

@b3.text(form("title"), '_label -> Messages.get("announcement.title"))

<div class="form-group">
    <label class="control-label col-md-3" for="content">@Messages.get("announcement.content")</label>
    <div class="col-md-9">
        <textarea class="ckeditor" name="content">
            @form("content").value
        </textarea>
    </div>
</div>

@b3.select(form("status"), Seq("DRAFT" -> "Draft", "PUBLISHED" -> "Published"), '_label -> Messages.get("announcement.status"))
