@(form: Form[org.iatoki.judgels.uriel.controllers.forms.ContestAnnouncementUpsertForm])(implicit fieldConstructor: b3.B3FieldConstructor)

@import play.i18n.Messages

<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/ckeditor.js")"></script>

@helper.CSRF.formField

@b3.text(form("title"), '_label -> Messages.get("announcement.title"))
@b3.textarea(form("content"), '_label -> Messages.get("announcement.content"), 'class -> "ckeditor")
@b3.select(form("status"), Seq("DRAFT" -> "Draft", "PUBLISHED" -> "Published"), '_label -> Messages.get("announcement.status"), 'class -> "selectpicker")
