@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.uriel.modules.contest.duration.ContestDurationConfigForm

@(contestDurationConfigForm: Form[ContestDurationConfigForm])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

<h4>@Messages.get("contest.module.durationConfig")</h4>

@formErrorView(contestDurationConfigForm)

@b3.inputWrapped("text", contestDurationConfigForm("beginTime"), '_label -> Messages.get("contest.beginTime"), 'class -> "form-control") { input =>
    <div class="input-group date datetimepicker">
        @input
        <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
    </div>
}

@b3.text(contestDurationConfigForm("contestDuration"), '_label -> Messages.get("contest.contestDuration"), 'class -> "form-control form_time")

<script type="text/javascript" src="@controllers.routes.Assets.versioned("lib/playcommons/javascripts/datetimepicker.js")"></script>
