@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.uriel.Contest
@import org.iatoki.judgels.uriel.modules.ContestModules
@import org.iatoki.judgels.uriel.modules.ContestModule

@(contest: Contest, contestModules: Map[ContestModules, ContestModule])

<h2>Enabled Modules</h2>

@for(module <- contestModules.keySet) {
    <div class="well clearfix">
        @module.name()
    <div class="pull-right"><a href="@routes.ContestController.disableModule(contest.getId(), module.name())" class="btn btn-primary">Disable</a></div>
    </div>
}

<h2>Disabled Modules</h2>

@for(module <- ContestModules.values()) {
    @if(!contestModules.contains(module)) {
        <div class="well clearfix">
            @module.name()
            <div class="pull-right"><a href="@routes.ContestController.enableModule(contest.getId(), module.name())" class="btn btn-primary">Enable</a></div>
        </div>
    }
}
