@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.uriel.modules.contest.registration.ContestRegistrationConfigForm

@(contestRegistrationConfigForm: Form[ContestRegistrationConfigForm])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

<h4>@Messages.get("contest.module.registrationConfig")</h4>

@formErrorView(contestRegistrationConfigForm)

@b3.inputWrapped("text", contestRegistrationConfigForm("registerStartTime"), '_label -> Messages.get("contest.registerStartTime"), 'class -> "form-control") { input =>
    <div class="input-group date datetimepicker">
        @input
        <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
    </div>
}

@b3.text(contestRegistrationConfigForm("registerDuration"), '_label -> Messages.get("contest.registerDuration"), 'class -> "form-control form_time")
@b3.number(contestRegistrationConfigForm("maxRegistrants"), '_label -> Messages.get("contest.maxRegistrants"), 'class -> "form-control")
