@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.uriel.modules.virtual.ContestVirtualConfigForm

@(contestVirtualConfigForm: Form[ContestVirtualConfigForm])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

<h4>@Messages.get("contest.module.virtualConfig")</h4>

@formErrorView(contestVirtualConfigForm)

@b3.text(contestVirtualConfigForm("virtualDuration"), '_label -> Messages.get("contest.virtualDuration"), 'class -> "form-control form_time")
