@(form: Form[org.iatoki.judgels.uriel.UserRoleUpdateForm], userRoleId: Long)

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.formErrorView
@import org.iatoki.judgels.uriel.controllers.routes

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(form)

@b3.form(routes.UserRoleController.postUpdate(userRoleId)) {

    @helper.CSRF.formField

    @b3.text(form("roles"), '_label -> Messages.get("userRole.roles"))

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}
