@(form: Form[org.iatoki.judgels.uriel.UserViewpointForm])(content: Html)

@import org.iatoki.judgels.commons.views.html.formErrorView

@import org.iatoki.judgels.uriel.UrielUtils
@import org.iatoki.judgels.jophiel.commons.JophielUtils
@import org.iatoki.judgels.commons.IdentityUtils
@import play.i18n.Messages

@content

<div class="box clearfix">
    <div class="col-md-12 clearfix">
        @if(UrielUtils.hasViewPoint) {
            @Messages.get("user.viewAs") @IdentityUtils.getUsername()
        } else {
            @Messages.get("user.noViewpoint")
        }

        @formErrorView(form)

        <form class="form" action='@org.iatoki.judgels.uriel.controllers.routes.ApplicationController.postViewAs()' method="POST">
            <div class="form-group">
                <input type="text" class="form-control user_autocomplete" name="username">
            </div>

            <script type="text/javascript">
                var jophielAutoCompleteUrl = "@JophielUtils.getAutoCompleteEndPoint";
            </script>
            <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/userAutoComplete.js")"></script>

            <div class="form-group">
            @if(UrielUtils.hasViewPoint) {
                <a href="@org.iatoki.judgels.uriel.controllers.routes.ApplicationController.resetViewAs()" class="btn btn-primary" role="button">@Messages.get("user.resetViewAs")</a>
            }
                <button type="submit" class="btn btn-primary">@Messages.get("user.viewAs")</button>
            </div>
        </form>
    </div>
</div>
