@(contestId: Long, form: Form[org.iatoki.judgels.uriel.ContestProblemCreateForm])

@import org.iatoki.judgels.jophiel.commons.JophielUtils
@import play.i18n.Messages
@import org.iatoki.judgels.uriel.UrielUtils
@import org.iatoki.judgels.commons.views.html.formErrorView
@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.uriel.views.html.contest.supervisorjs

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(form)

@b3.form(routes.ContestProblemController.postCreateProblem(contestId)) {

    @helper.CSRF.formField

    @b3.text(form("alias"), '_label -> Messages.get("problem.alias"))
    @b3.text(form("problemJid"), '_label -> Messages.get("problem.problemJid"))
    @b3.text(form("problemSecret"), '_label -> Messages.get("problem.problemSecret"))
    @b3.text(form("submissionsLimit"), '_label -> Messages.get("problem.submissionsLimit"))
    @b3.select(form("status"), Seq("OPEN" -> "Open", "CLOSED" -> "Closed", "HIDDEN" -> "Hidden"), '_label -> Messages.get("problem.status"), 'class -> "selectpicker")

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.create") }
}

@supervisorjs(contestId)