@(formStyle: Form[_])(implicit fieldConstructor: b3.B3FieldConstructor)

@import play.i18n.Messages
@import org.iatoki.judgels.gabriel.GradingLanguageRegistry

<script type="text/javascript" src="@controllers.routes.Assets.versioned("lib/sandalphoncommons/javascripts/languageRestriction.js")"></script>

@b3.inputWrapped("timePenalty", formStyle("timePenalty"), '_label -> Messages.get("contest.style.ICPC.timePenalty")) { input =>
    <div class="input-group">
        @input
        <div class="input-group-addon">milliseconds</div>
    </div>
}


<div class="form-group">

    <label class="control-label col-md-3">@Messages.get("problem.allowedLanguages")</label>

    <div class="col-md-9">

        <div class="checkbox">
            <label>
                <input type="checkbox" id="isAllowedAll" name="isAllowedAll" value="true" @if(formStyle("isAllowedAll").value && formStyle("isAllowedAll").value.equals("true")){ checked="checked" }> @Messages.get("problem.allowAll")
            </label>
        </div>

        @for((k, v) <- GradingLanguageRegistry.getInstance().getGradingLanguages) {
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="allowedLanguageName" name="allowedLanguageNames[@k]" value="@k" @if(formStyle("allowedLanguageNames[" + k + "]").value && formStyle("allowedLanguageNames[" + k + "]").value.equals(k)){ checked="checked" }> @v
                </label>
            </div>
        }
    </div>
</div>