@(contest: org.iatoki.judgels.uriel.Contest, formStyle: Form[_], modulesForm: java.util.Map[org.iatoki.judgels.uriel.modules.ContestModule, Form[_]])

@import play.i18n.Messages
@import org.iatoki.judgels.uriel.modules.ContestModule
@import org.iatoki.judgels.uriel.ContestStyle
@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.uriel.views.html.contest.supervisorjs

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(formStyle)

@b3.form(routes.ContestController.postUpdateContestSpecificConfig(contest.getId)) {

    @helper.CSRF.formField

    <h4>@Messages.get("contest.style.config")</h4>

    @if(contest.getStyle.equals(ContestStyle.ICPC)) {
        @icpcContestStyleConfigView(formStyle)
    } else {
        @if(contest.getStyle.equals(ContestStyle.IOI)) {
            @ioiContestStyleConfigView(formStyle)
        }
    }

    @for(contestModule <- modulesForm.keySet()) {
        @contestModule.generateConfigFormInput(modulesForm.get(contestModule))
    }

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }

    <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/datetimepicker.js")"></script>
}

@supervisorjs(contest.getId)