@import scala.collection.JavaConversions
@import java.util.Date
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.play.services.impls.AbstractBaseJidCacheServiceImpl
@import org.iatoki.judgels.uriel.ScoreboardState
@import org.iatoki.judgels.uriel.IOIScoreboardEntry

@(state: ScoreboardState, entries: List[IOIScoreboardEntry], lastUpdateTime: Date, jidCacheService: AbstractBaseJidCacheServiceImpl[_], currentContestantJid: String, hiddenRank: Boolean)

<p><small>Last updated: <time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(lastUpdateTime.getTime)">@JudgelsPlayUtils.formatDetailedDateTime(lastUpdateTime.getTime)</time></small></p>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed scoreboard">
        <thead>
            <tr>
                <th class="scoreboard-rank">Rank</th>
                <th class="scoreboard-logo">Logo</th>
                <th>Contestant</th>
                <th class="scoreboard-score">Total</th>
                @for(problemAlias <- state.getProblemAliases) {
                    <th class="scoreboard-score">@problemAlias</th>
                }
            </tr>
        </thead>
        <tbody>
        @defining(jidCacheService.getDisplayNames(JavaConversions.seqAsJavaList(state.getContestantJids.toSeq))) { displayNamesMap =>
            @for(entry <- entries) {
                <tr @if(entry.contestantJid.equals(currentContestantJid)) { class="warning" }>
                    @if(hiddenRank) {
                        <td class="scoreboard-rank">?</td>
                    } else {
                        <td class="scoreboard-rank">@entry.rank</td>
                    }
                    <td class="scoreboard-logo"><img src="@entry.imageURL.toString" class="scoreboard-logo-image" alt="logo" /></td>
                    <td>@Html(JudgelsPlayUtils.prettifyUserDisplayName(displayNamesMap.get(entry.contestantJid)))</td>
                    <td class="scoreboard-score">@entry.totalScores</td>
                    @for(score <- entry.scores) {
                        @if(score == null) {
                            <td class="scoreboard-score">-</td>
                        }else {
                            <td class="scoreboard-score">@score</td>
                        }
                    }
                </tr>
            }
        }
        </tbody>
    </table>
</div>