@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.uriel.views.html.contest.contestant.contestantjs
@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.uriel.services.impls.JidCacheServiceImpl
@import org.iatoki.judgels.uriel.Contest
@import org.iatoki.judgels.uriel.forms.ContestClarificationCreateForm
@import org.iatoki.judgels.uriel.ContestProblem

@(contest: Contest, contestClarificationCreateForm: Form[ContestClarificationCreateForm], contestProblems: List[ContestProblem])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(contestClarificationCreateForm)

@b3.form(routes.ContestClarificationController.postCreateClarification(contest.getId)) {

    @helper.CSRF.formField

    @b3.text(contestClarificationCreateForm("title"), '_label -> Messages.get("clarification.title"))

    <div class="form-group" id="topicJid_field">
        <label class="control-label col-md-3">@Messages.get("clarification.topic")</label>
        <div class="col-md-9">
            <select id="topicJid" name="topicJid" class="form-control selectpicker">
                <option value="@contest.getJid">@Messages.get("clarification.general")</option>
                @for(contestProblem <- contestProblems) {
                    <option value="@contestProblem.getProblemJid">@contestProblem.getAlias - @JidCacheServiceImpl.getInstance().getDisplayName(contestProblem.getProblemJid)</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3" for="question">@Messages.get("clarification.question")</label>
        <div class="col-md-9">
            <textarea class="form-control" name="question">@contestClarificationCreateForm("question").value</textarea>
        </div>
    </div>

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.create") }
}

@contestantjs(contest.getId)