@(contest: org.iatoki.judgels.uriel.Contest, page: org.iatoki.judgels.play.Page[org.iatoki.judgels.uriel.ContestClarification], pageIndex: Long, orderBy: String, orderDir: String, filterString: String, canUpdate: Boolean)

@import org.iatoki.judgels.uriel.services.impls.JidCacheServiceImpl
@import play.i18n.Messages
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.uriel.ContestClarificationStatus
@import org.iatoki.judgels.uriel.views.html.contest.contestant.contestantjs

@for(contestClarification <- page.getData) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">@contestClarification.getTitle | @contestClarification.getTopic</span>
            <span class="panel-title pull-right"><small>@JidCacheServiceImpl.getInstance().getDisplayName(contestClarification.getAskerJid) @@ <time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(contestClarification.getAskedTime.getTime)">@JudgelsPlayUtils.formatDetailedDateTime(contestClarification.getAskedTime.getTime)</time></small></span>
        </div>
        <div class="panel-body">
            @Html(JudgelsPlayUtils.escapeHtmlString(contestClarification.getQuestion))

            <hr />


            @if(contestClarification.getStatus == ContestClarificationStatus.ASKED) {
                (@{Messages.get("clarification.unanswered")})
                @if(canUpdate) {
                    <a href="@org.iatoki.judgels.uriel.controllers.routes.ContestClarificationController.updateClarificationContent(contest.getId, contestClarification.getId)" class="btn btn-primary">@Messages.get("commons.update")</a>
                }
            }else{
                @if(contestClarification.getStatus == ContestClarificationStatus.ANSWERED) {
                    <p><strong>@Messages.get("clarification.answer")</strong>:</p>
                    @Html(JudgelsPlayUtils.escapeHtmlString(contestClarification.getAnswer))
                }
            }
        </div>
    </div>
}

@contestantjs(contest.getId)