@(contest: org.iatoki.judgels.uriel.Contest, contestClarification: org.iatoki.judgels.uriel.ContestClarification, form: Form[org.iatoki.judgels.uriel.ContestClarificationChangeForm])

@import play.i18n.Messages
@import org.iatoki.judgels.uriel.JidCacheService
@import org.iatoki.judgels.commons.views.html.formErrorView
@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.uriel.views.html.contest.contestant.contestantjs

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(form)

@b3.form(routes.ContestClarificationController.postUpdateClarificationContent(contest.getId, contestClarification.getId)) {

    @helper.CSRF.formField

    @b3.text(form("title"), '_label -> Messages.get("clarification.title"))

    @b3.textarea(form("question"), '_label -> Messages.get("clarification.question"), 'class -> "form-control")

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}

@contestantjs(contest.getId)