@import org.iatoki.judgels.uriel.controllers.forms.ContestUpsertForm
@(form: Form[ContestUpsertForm])

@import play.i18n.Messages

@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.commons.views.html.formErrorView

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(form)

@b3.form(routes.ContestController.postCreateContest()) {

    @upsertContestView(form)

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.create") }
}
