@(page: org.iatoki.judgels.commons.Page[org.iatoki.judgels.uriel.Contest], pageIndex: Long, orderBy: String, orderDir: String, filterString: String)

@import org.iatoki.judgels.uriel.controllers.routes

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.table.tableView
@import org.iatoki.judgels.commons.views.html.table.tableHeadersView
@import org.iatoki.judgels.commons.views.html.table.searchView
@import org.iatoki.judgels.commons.views.html.table.paginationView

@import org.iatoki.judgels.uriel.UrielUtils
@import org.iatoki.judgels.uriel.JidCacheService

@searchView(page.getPageIndex, orderBy, orderDir, filterString, routes.ContestController.list)

<div class="clearfix"></div>


@tableView() {
    @tableHeadersView(page.getPageIndex, orderBy, orderDir, filterString, routes.ContestController.list)(
        "id" -> Messages.get("commons.id"),
        "name" -> Messages.get("contest.name"),
        "scope" -> Messages.get("contest.scope"),
        "style" -> Messages.get("contest.style"),
        "startTime" -> Messages.get("contest.startTime"),
        "endTime" -> Messages.get("contest.endTime")
    )

    <tbody>
        @for(contest <- page.getData) {
            <tr>
                <td>@contest.getId</td>
                <td>@contest.getName</td>
                <td>@contest.getScope.name()</td>
                <td>@contest.getStyle.name()</td>
                <td>@contest.getType.name()</td>
                <td>@UrielUtils.convertDateToString(contest.getStartTime)</td>
                <td>@UrielUtils.convertDateToString(contest.getEndTime)</td>
                <td class="text-center">
                    <a href="@routes.ContestController.viewContestantAnnouncements(contest.getId)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                </td>
            </tr>
        }
    </tbody>
}

@paginationView(page, orderBy, orderDir, filterString, routes.ContestController.list)
