@(page: org.iatoki.judgels.commons.Page[org.iatoki.judgels.uriel.Contest], pageIndex: Long, orderBy: String, orderDir: String, filterString: String)

@import org.iatoki.judgels.uriel.controllers.routes

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.table.tableView
@import org.iatoki.judgels.commons.views.html.table.tableHeadersView
@import org.iatoki.judgels.commons.views.html.table.searchView
@import org.iatoki.judgels.commons.views.html.table.paginationView

@import org.iatoki.judgels.uriel.UrielUtils
@import org.iatoki.judgels.uriel.JidCacheService

@searchView(page.getPageIndex, orderBy, orderDir, filterString, routes.ContestController.list)

<div class="clearfix"></div>

@for(contest <- page.getData) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">@contest.getName | @UrielUtils.convertDateToString(contest.getStartTime) -  @UrielUtils.convertDateToString(contest.getEndTime)</span>
        </div>
        <div class="panel-body">
            @Html(contest.getDescription)
            <hr />
            <a href="@routes.ContestController.register(contest.getId)" class="btn btn-primary">Register</a>
        </div>
    </div>
}
@paginationView(page, orderBy, orderDir, filterString, routes.ContestController.list)
