@import org.iatoki.judgels.uriel.modules.contest.ContestModules
@import play.i18n.Messages
@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.uriel.Contest
@import org.iatoki.judgels.uriel.modules.contest.duration.ContestDurationModule
@import org.iatoki.judgels.uriel.ContestContestant

@(contest: Contest)

<div class="well">
    @Html(contest.getDescription)
    <hr />
    @if(contest.containsModule(ContestModules.DURATION)) {
        <p>
            <small><time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(contest.getModule(ContestModules.DURATION).asInstanceOf[ContestDurationModule].getBeginTime.getTime)">@JudgelsPlayUtils.formatDetailedDateTime(contest.getModule(ContestModules.DURATION).asInstanceOf[ContestDurationModule].getBeginTime.getTime)</time>
                - <time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(contest.getModule(ContestModules.DURATION).asInstanceOf[ContestDurationModule].getEndTime.getTime)">@JudgelsPlayUtils.formatDetailedDateTime(contest.getModule(ContestModules.DURATION).asInstanceOf[ContestDurationModule].getEndTime.getTime)</time></small>
        </p>
    }
</div>
