@import b3.inline.fieldConstructor
@import scala.collection.JavaConversions
@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.table.tableView
@import org.iatoki.judgels.play.views.html.table.tableHeadersView
@import org.iatoki.judgels.play.views.html.table.paginationView
@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.uriel.services.impls.JidCacheServiceImpl
@import org.iatoki.judgels.uriel.Contest
@import org.iatoki.judgels.uriel.modules.ContestModules
@import org.iatoki.judgels.uriel.modules.ContestModule
@import org.iatoki.judgels.uriel.modules.duration.ContestDurationModule
@import org.iatoki.judgels.uriel.ContestContestant
@import org.iatoki.judgels.uriel.forms.ContestEnterWithPasswordForm

@(contest: Contest, pageOfContestContestants: Page[ContestContestant], pageIndex: Long, orderBy: String, orderDir: String, filterString: String, isAllowedToRegister: Boolean, isAllowedToUnregister: Boolean, isRegistered: Boolean, isAllowedToStart: Boolean, isAllowedToViewEnterContestButton: Boolean, passwordForm: Form[ContestEnterWithPasswordForm], isAllowedToUpdate: Boolean)

<div class="well">
    @Html(JudgelsPlayUtils.escapeHtmlString(contest.getDescription))
    <hr />
    @if(contest.containsModule(ContestModules.DURATION)) {
        <p>
            <small><time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(contest.getModule(ContestModules.DURATION).asInstanceOf[ContestDurationModule].getBeginTime.getTime)">@JudgelsPlayUtils.formatDetailedDateTime(contest.getModule(ContestModules.DURATION).asInstanceOf[ContestDurationModule].getBeginTime.getTime)</time>
                - <time class="display-time" datetime="@JudgelsPlayUtils.formatISOUTCDateTime(contest.getModule(ContestModules.DURATION).asInstanceOf[ContestDurationModule].getEndTime.getTime)">@JudgelsPlayUtils.formatDetailedDateTime(contest.getModule(ContestModules.DURATION).asInstanceOf[ContestDurationModule].getEndTime.getTime)</time></small>
        </p>
    }

    @if(isRegistered) {
        <p>You have been successfully registered. You can enter after contest starts.</p>
    }

    @if(isAllowedToRegister) {
        <a href="@routes.ContestController.registerToAContest(contest.getId)" class="btn btn-primary btn-sm">@Messages.get("contest.register")</a>
    }

    @if(isAllowedToUnregister) {
        <a href="@routes.ContestController.unregisterFromAContest(contest.getId)" class="btn btn-primary btn-sm">@Messages.get("contest.unregister")</a>
    }

    @if(isAllowedToStart) {
        <a href="@routes.ContestController.startContest(contest.getId)" class="start-contest-button btn btn-primary btn-sm">@Messages.get("contest.start")</a>
    }

    @if(isAllowedToViewEnterContestButton) {
        @if(passwordForm == null) {
            <a href="@routes.ContestController.enterContest(contest.getId)" id="enter-contest-button" class="btn btn-primary btn-sm">@Messages.get("contest.enter")</a>
        }else {
            @if(play.mvc.Controller.flash("password") != null) {
                <div class="alert alert-danger" role="alert">@{play.mvc.Controller.flash("password")}</div>
            }

            @b3.form(routes.ContestController.enterContestWithPassword(contest.getId)) {
                @b3.password(passwordForm("password"), '_label -> "Password")
                @b3.submit('class -> "btn btn-primary") { @Messages.get("contest.enter") }
            }
        }
    }

    @if(isAllowedToUpdate) {
        <a href="@routes.ContestController.postUpdateContestGeneralConfig(contest.getId)" class="btn btn-primary btn-sm">@Messages.get("commons.update")</a>
    }
</div>

@listFunc(newPageIndex: scala.Long, newOrderBy: String, newOrderDir: String, newFilterString: String) = @{routes.ContestController.viewContestAndListRegistrants(contest.getId, newPageIndex, newOrderBy, newOrderDir, newFilterString)}

@if(contest.containsModule(ContestModules.REGISTRATION)) {
    <h3>@Messages.get("contest.registrants") (@pageOfContestContestants.getTotalRowsCount)</h3>

    @tableView() {
        @tableHeadersView(pageOfContestContestants.getPageIndex, orderBy, orderDir, filterString, listFunc)(
            "id" -> Messages.get("commons.id"),
            "userJid" -> Messages.get("contestant.name")
        )
        <tbody>
        @defining(JidCacheServiceImpl.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(pageOfContestContestants.getData.map(s => s.getUserJid).toSeq))) { displayNamesMap =>
            @for(contestContestant <- pageOfContestContestants.getData) {
                <tr>
                    <td>@contestContestant.getId</td>
                    <td>@displayNamesMap.get(contestContestant.getUserJid)</td>
                    <td class="text-center">
                </td>
                </tr>
            }
        }
        </tbody>
    }

    @paginationView(pageOfContestContestants, orderBy, orderDir, filterString, listFunc)
}

@if(contest.containsModule(ContestModules.VIRTUAL)) {
    <script type="text/javascript">
        var confirmMessage = "@Messages.get("contest.start.confirm")";
    </script>
    <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/alertStartContest.js")"></script>
}