@import org.iatoki.judgels.uriel.controllers.forms.ContestEnterWithPasswordForm
@(contest: org.iatoki.judgels.uriel.Contest, page: org.iatoki.judgels.commons.Page[org.iatoki.judgels.uriel.ContestContestant], pageIndex: Long, orderBy: String, orderDir: String, filterString: String, isAllowedToRegister: Boolean, isAllowedToUnregister: Boolean, isRegistered: Boolean, isAllowedToStart: Boolean, isAllowedToViewEnterContestButton: Boolean, passwordForm: Form[ContestEnterWithPasswordForm], isAllowedToUpdate: Boolean)
@import org.iatoki.judgels.uriel.services.impls.JidCacheService

@import org.iatoki.judgels.uriel.controllers.routes

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.table.tableView
@import org.iatoki.judgels.commons.views.html.table.tableHeadersView
@import org.iatoki.judgels.commons.views.html.table.paginationView


@import org.iatoki.judgels.commons.JudgelsUtils
@import scala.collection.JavaConversions
@import b3.inline.fieldConstructor

<div class="well">
    @Html(JudgelsUtils.escapeHtmlString(contest.getDescription))
    <hr />
    <p>
    <small><time class="display-time" datetime="@JudgelsUtils.formatISOUTCDateTime(contest.getStartTime.getTime)">@JudgelsUtils.formatDetailedDateTime(contest.getStartTime.getTime)</time> - <time class="display-time" datetime="@JudgelsUtils.formatISOUTCDateTime(contest.getEndTime.getTime)">@JudgelsUtils.formatDetailedDateTime(contest.getEndTime.getTime)</time></small>
    </p>

    @if(isRegistered) {
        <p>You have been successfully registered. You can enter after contest starts.</p>
    }

    @if(isAllowedToRegister) {
        <a href="@routes.ContestController.registerToAContest(contest.getId)" class="btn btn-primary btn-sm">@Messages.get("contest.register")</a>
    }

    @if(isAllowedToUnregister) {
        <a href="@routes.ContestController.unregisterFromAContest(contest.getId)" class="btn btn-primary btn-sm">@Messages.get("contest.unregister")</a>
    }

    @if(isAllowedToStart) {
        <a href="@routes.ContestController.startContest(contest.getId)" class="start-contest-button btn btn-primary btn-sm">@Messages.get("contest.start")</a>
    }

    @if(isAllowedToViewEnterContestButton) {
        @if(passwordForm == null) {
            <a href="@routes.ContestController.enterContest(contest.getId)" id="enter-contest-button" class="btn btn-primary btn-sm">@Messages.get("contest.enter")</a>
        }else {
            @if(play.mvc.Controller.flash("password") != null) {
                <div class="alert alert-danger" role="alert">@{play.mvc.Controller.flash("password")}</div>
            }

            @b3.form(routes.ContestController.enterContestWithPassword(contest.getId)) {
                @b3.password(passwordForm("password"), '_label -> "Password")
                @b3.submit('class -> "btn btn-primary") { @Messages.get("contest.enter") }
            }
        }
    }

    @if(isAllowedToUpdate) {
        <a href="@routes.ContestController.postUpdateContestGeneralConfig(contest.getId)" class="btn btn-primary btn-sm">@Messages.get("commons.update")</a>
    }
</div>

@listFunc(newPageIndex: scala.Long, newOrderBy: String, newOrderDir: String, newFilterString: String) = @{routes.ContestController.viewContestAndListRegistrants(contest.getId, newPageIndex, newOrderBy, newOrderDir, newFilterString)}

@if(contest.isPublic) {
    <h3>@Messages.get("contest.registrants") (@page.getTotalRowsCount)</h3>

    @tableView() {
        @tableHeadersView(page.getPageIndex, orderBy, orderDir, filterString, listFunc)(
            "id" -> Messages.get("commons.id"),
            "userJid" -> Messages.get("contestant.name")
        )
        <tbody>
        @defining(JidCacheService.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(page.getData.map(s => s.getUserJid).toSeq))) { displayNamesMap =>
            @for(contestContestant <- page.getData) {
                <tr>
                    <td>@contestContestant.getId</td>
                    <td>@displayNamesMap.get(contestContestant.getUserJid)</td>
                    <td class="text-center">
                </td>
                </tr>
            }
        }
        </tbody>
    }

    @paginationView(page, orderBy, orderDir, filterString, listFunc)
}

@if(contest.isVirtual) {
    <script type="text/javascript">
        var confirmMessage = "@Messages.get("contest.start.confirm")";
    </script>
    <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/alertStartContest.js")"></script>
}