@import "./../../../../judgels-play-commons/app/assets/stylesheets/_commons.less";
@import (inline) "lib/Eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css";
@import (inline) "lib/jquery-ui/jquery-ui.min.css";

@primary-font: "GothamRnd-Book";
@accent-font: "GothamRnd-Medium";

// Colors using https://www.google.com/design/spec/style/color.html#color-color-palette

@primary-color: #1976D2;
@accent-color: #cccccc;
@content-color: #ffffff;
@background-color: #eeeeee;
@button-color: #43a047;
@primary-font-color: #000000;
@accent-font-color: #FFFFFF;

@primary-font-size: 14px;
@base-radius: 3px;

@font-face {
  font-family: @primary-font;
  src: url(../fonts/GothamRnd-Book.otf);
}
@font-face {
  font-family: @accent-font;
  src: url(../fonts/GothamRnd-Medium.otf);
}