@(contestId: Long)

<script type="text/javascript">
    var unreadAnnouncementUrl = "@org.iatoki.judgels.uriel.controllers.apis.routes.ContestAPIController.unreadAnnouncement(contestId).toString()";
    var contestAnnouncementUrl = "@org.iatoki.judgels.uriel.controllers.routes.ContestController.jumpToAnnouncements(contestId).toString()";
    var unreadClarificationUrl = "@org.iatoki.judgels.uriel.controllers.apis.routes.ContestAPIController.unreadClarification(contestId).toString()";
    var contestClarificationUrl = "@org.iatoki.judgels.uriel.controllers.routes.ContestController.jumpToClarifications(contestId).toString()";
</script>
<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/contestant.js")"></script>