@import scala.collection.JavaConversions
@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.table.tableView
@import org.iatoki.judgels.play.views.html.table.tableHeadersView
@import org.iatoki.judgels.play.views.html.table.searchView
@import org.iatoki.judgels.play.views.html.table.paginationView
@import org.iatoki.judgels.uriel.views.html.contest.supervisorjs
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.uriel.services.impls.JidCacheServiceImpl
@import org.iatoki.judgels.uriel.ContestContestant
@import org.iatoki.judgels.uriel.forms.ContestContestantAddForm
@import org.iatoki.judgels.uriel.forms.ContestContestantUploadForm

@(contestId: Long, pageOfContestContestants: Page[ContestContestant], pageIndex: Long, orderBy: String, orderDir: String, filterString: String, updateable: Boolean, deleteable: Boolean, contestContestantAddForm: Form[ContestContestantAddForm], contestContestantUploadForm: Form[ContestContestantUploadForm], jophielAutoCompleteUrl: String)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@listFunc(newPageIndex: scala.Long, newOrderBy: String, newOrderDir: String, newFilterString: String) = @{routes.ContestContestantController.listAddContestants(contestId, newPageIndex, newOrderBy, newOrderDir, newFilterString)}

@if(updateable) {
    <h4>@Messages.get("contest.supervisor.contestant.importTXT")</h4>

    @formErrorView(contestContestantUploadForm)

    @b3.form(routes.ContestContestantController.postUploadContestant(contestId), 'enctype->"multipart/form-data") {

        @helper.CSRF.formField

        @b3.file(contestContestantAddForm("usernames"), '_label -> Messages.get("contestant.usernames"), 'class -> "form-control")

        @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.add") }
    }

    @formErrorView(contestContestantAddForm)

    <h4>@Messages.get("contest.supervisor.contestant.manualCreate")</h4>

    @b3.form(routes.ContestContestantController.postAddContestant(contestId, pageIndex, orderBy, orderDir, filterString)) {

        @helper.CSRF.formField

        @b3.text(contestContestantAddForm("username"), '_label -> Messages.get("contestant.username"), 'class -> "form-control user_autocomplete")
        @b3.select(contestContestantAddForm("status"), Seq("APPROVED" -> "Approved", "IN_CONFIRMATION" -> "In Confirmation", "DISABLED" -> "Disabled"), '_label -> Messages.get("contestant.status"), 'class -> "selectpicker")

        <script type="text/javascript">
            var jophielAutoCompleteUrl = "@jophielAutoCompleteUrl";
        </script>
        <script type="text/javascript" src="@controllers.routes.Assets.versioned("lib/jophielcommons/javascripts/userAutoComplete.js")"></script>

        @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.add") }
    }
}

@searchView(pageOfContestContestants.getPageIndex, orderBy, orderDir, filterString, listFunc)

<div class="clearfix"></div>

@tableView() {
    @tableHeadersView(pageOfContestContestants.getPageIndex, orderBy, orderDir, filterString, listFunc)(
        "id" -> Messages.get("commons.id"),
        "userJid" -> Messages.get("contestant.name"),
        "status" -> Messages.get("contestant.status")
    )
    <tbody>
    @defining(JidCacheServiceImpl.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(pageOfContestContestants.getData.map(s => s.getUserJid).toSeq))) { displayNamesMap =>
        @for(contestContestant <- pageOfContestContestants.getData) {
            <tr>
                <td>@contestContestant.getId</td>
                <td>@Html(JudgelsPlayUtils.prettifyUserDisplayName(displayNamesMap.get(contestContestant.getUserJid)))</td>
                <td>@contestContestant.getStatus</td>
                <td class="text-center">
                    @if(updateable) {
                        <a href="@routes.ContestContestantController.editContestant(contestId, contestContestant.getId)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    }
                    @if(deleteable) {
                        <a href="@routes.ContestContestantController.removeContestant(contestId, contestContestant.getId)" onclick="return confirm('@Messages.get("contestant.delete.confirmation")');"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    }
                </td>
            </tr>
        }
    }
    </tbody>
}

@paginationView(pageOfContestContestants, orderBy, orderDir, filterString, listFunc)

@supervisorjs(contestId)