@(contestId: Long, contestContestantId: Long, form: Form[org.iatoki.judgels.uriel.controllers.forms.ContestContestantUpdateForm])

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.formErrorView
@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.uriel.views.html.contest.supervisorjs

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(form)

@b3.form(routes.ContestContestantController.postUpdateContestant(contestId, contestContestantId)) {

    @helper.CSRF.formField

    @b3.select(form("status"), Seq("APPROVED" -> "Approved", "IN_CONFIRMATION" -> "In Confirmation", "DISABLED" -> "Disabled"), '_label -> Messages.get("contestant.status"), 'class -> "selectpicker")

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}

@supervisorjs(contestId)