@(contestId: Long, pages: org.iatoki.judgels.commons.Page[org.iatoki.judgels.uriel.ContestManager], currentPage: Long, currentSortBy: String, currentOrder: String, currentFilter: String)

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.pagination.firstLevelTablePagination
@import org.iatoki.judgels.commons.views.html.pagination.tableHeader
@import org.iatoki.judgels.commons.views.html.pagination.link2

@shortLink(newSortBy: String) = {@link2(contestId, true, currentSortBy, currentOrder, currentFilter, contestId, newSortBy, org.iatoki.judgels.uriel.controllers.routes.ContestController.listContestManager)}

<form class="form form-inline pull-right" action='@org.iatoki.judgels.uriel.controllers.routes.ContestController.listContestManager(contestId, 0, "", "", "")' method="GET">
    <input type="hidden" name="orderBy" value="@currentOrder"/>
    <input type="hidden" name="sortBy" value="@currentSortBy"/>
    <div class="form-group">
        <input type="search" class="form-control" name="filterString" value="@currentFilter">
    </div>
    <button type="submit" class="btn btn-primary">@Messages.get("commons.search")</button>
</form>

<div class="clearfix"></div>

<div class="table-responsive">
    <table class="table table-hover table-condensed table-bordered">
        <tr>
            @tableHeader("id", Messages.get("commons.field.id"), currentSortBy, currentOrder, shortLink("id"))
            <th>@Messages.get("contest.supervisor.field.username")</th>
            <th>@Messages.get("contest.supervisor.field.alias")</th>
            <th></th>
        </tr>
        @for(page <- pages.getList) {
            <tr>
                <td>@page.getId</td>
                <td>@page.getUsername</td>
                <td>@page.getAlias</td>
                <td class="text-center">
                </td>
            </tr>
        }
    </table>
</div>

@firstLevelTablePagination(pages, contestId, currentSortBy, currentOrder, currentFilter, org.iatoki.judgels.uriel.controllers.routes.ContestController.listContestManager)
