@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.uriel.views.html.contest.supervisorjs
@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.uriel.forms.ContestTeamUpsertForm

@(contestId: Long, contestTeamId: Long, contestTeamUpsertForm: Form[ContestTeamUpsertForm])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(contestTeamUpsertForm)

@b3.form(routes.ContestTeamController.postEditTeam(contestId, contestTeamId), 'enctype->"multipart/form-data") {

    @upsertTeamView(contestTeamUpsertForm)

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}

@supervisorjs(contestId)