@import scala.collection.JavaConversions
@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.table.tableView
@import org.iatoki.judgels.play.views.html.table.tableHeadersView
@import org.iatoki.judgels.play.views.html.table.searchView
@import org.iatoki.judgels.play.views.html.table.paginationView
@import org.iatoki.judgels.uriel.views.html.contest.supervisorjs
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.uriel.controllers.routes
@import org.iatoki.judgels.play.Page
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.uriel.services.impls.JidCacheServiceImpl
@import org.iatoki.judgels.uriel.ContestManager
@import org.iatoki.judgels.uriel.forms.ContestManagerCreateForm

@(contestId: Long, pageOfContestManagers: Page[ContestManager], pageIndex: Long, orderBy: String, orderDir: String, filterString: String, canUpdate: Boolean, contestManagerCreateForm: Form[ContestManagerCreateForm], jophielAutoCompleteUrl: String)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@listFunc(newPageIndex: scala.Long, newOrderBy: String, newOrderDir: String, newFilterString: String) = @{routes.ContestManagerController.listAddManagers(contestId, newPageIndex, newOrderBy, newOrderDir, newFilterString)}

@if(canUpdate) {
    @formErrorView(contestManagerCreateForm)

    @b3.form(routes.ContestManagerController.postAddManager(contestId, pageIndex, orderBy, orderDir, filterString)) {

        @helper.CSRF.formField

        @b3.text(contestManagerCreateForm("username"), '_label -> Messages.get("manager.username"), 'class -> "form-control user_autocomplete")

        <script type="text/javascript">
            var jophielAutoCompleteUrl = "@jophielAutoCompleteUrl";
        </script>
        <script type="text/javascript" src="@controllers.routes.Assets.versioned("lib/jophielcommons/javascripts/userAutoComplete.js")"></script>

        @b3.submit('class -> "btn btn-primary") {
            @Messages.get("commons.add")
        }
    }
}

@searchView(pageOfContestManagers.getPageIndex, orderBy, orderDir, filterString, listFunc)

<div class="clearfix"></div>

@tableView() {
    @tableHeadersView(pageOfContestManagers.getPageIndex, orderBy, orderDir, filterString, listFunc)(
        "id" -> Messages.get("commons.id"),
        "userJid" -> Messages.get("manager.name")
    )
    <tbody>
    @defining(JidCacheServiceImpl.getInstance().getDisplayNames(JavaConversions.seqAsJavaList(pageOfContestManagers.getData.map(s => s.getUserJid).toSeq))) { displayNamesMap =>
        @for(contestManager <- pageOfContestManagers.getData) {
            <tr>
                <td>@contestManager.getId</td>
                <td>@Html(JudgelsPlayUtils.prettifyUserDisplayName(displayNamesMap.get(contestManager.getUserJid)))</td>
                <td class="text-center">
                    @if(canUpdate) {
                        <a href="@routes.ContestManagerController.removeManager(contestId, contestManager.getId)" onclick="return confirm('@Messages.get("manager.delete.confirmation")');"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    }
                </td>
            </tr>
        }
    }
    </tbody>
}

@paginationView(pageOfContestManagers, orderBy, orderDir, filterString, listFunc)

@supervisorjs(contestId)